img{
    height: 300px;
    width: 400px;
}
.event{
    margin-left: 150px;
    display: grid;
}
body{
    background-image: url(events-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #FFFFFF;



}
.lfe{
    display: flex;
}